:root {
  --color1: #dcf0ee;
  --color2: #a9d9d7;
  --color3: #c6e7e2;
  --color4: #6dc8bf;
  --color5: #00a0a8;
  --color1a: #E6F4F1cc;
}

.aboutContainer{
  display:grid;
  grid-template-rows: 230px 4fr;

}

.aboutTypeContainer{
    background-color: var(--color1a);

  padding:2%;
  padding-left: 3%;
  grid-row: 2;   
  border-top-color: var(--color4);
  border-top-width: 2px;
  border-top-style: solid;
}
.aboutTextContainer{
    display:grid;

    }