:root {
  --color1: #dcf0ee;
  --color2: #a9d9d7;
  --color3: #c6e7e2;
  --color4: #6dc8bf;
  --color5: #00a0a8;
  --color1a: #E6F4F1cc;
}
.aboutTextContainer{
    display:grid;
    padding:5%;
    margin:2%;
    background-color: var(--color1a);
    }