:root {
  --color1: #dcf0ee;
  --color2: #a9d9d7;
  --color3: #c6e7e2;
  --color4: #6dc8bf;
  --color5: #00a0a8;
  --color1a: #E6F4F1cc;
  --color5a: #00a0a896;
}

.header {
  position:absolute;
  grid-row: 1/  1;
  z-index: 1;
}


body {
  background-image: linear-gradient(to right, white, var(--color4));
  color: var(--color4);
  margin: 0;
  font-family: "Eras light ITC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-img{
  background:url('./localAssets/1x/2x/Asset\ 1@2x.png');
  width:40%;
  height:50%; 
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@media (orientation: landscape) {
  .App {
    position:static;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px auto;
    }
    .feedContainer {
      grid-row: 2 / 2;
      min-height: 700px;
    }
}

@media (orientation: portrait) {
  .App {
    position:static;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;

    }
    .feedContainer {
      grid-row: 3 ;
    }
}