@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #e4ded0;
  --color2: #df9b43;
  --color3: #6cc2ab;
  --color4: #362636;
  --color5: #a5284b;
  --bgcolor: #dbcca9;
}
.header {
  background-color: var(--color3);
  margin-bottom: 20px;
}
body {
  background-color: var(--bgcolor);
  color: var(--color4);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.imageGridItem {
  background-color: var(--color2);
  display: inline-block;
  box-sizing: border-box;
  float: right;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s linear;
  transition-delay: 0.1s;
  width: 10em;
  text-align: center;
}

.imageGridItem h4 {
  color: var(--color4);
  float: middle;
  z-index: 0;
}
.imageWrapper {
  z-index: 90;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.5s linear;

  cursor: pointer;
  background-color: var(--color5);
  /* background-image: url(./localAssets/loading.gif); */
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.imageGridItem:hover .imageWrapper {
  background-position: right;
  opacity: 0.4;
}
