@tailwind base;
@tailwind components;
@tailwind utilities;

/* og questionable color palette
   --color1: #e4ded0;
  --color2: #df9b43;
  --color3: #6cc2ab;
  --color4: #362636;
  --color5: #a5284b;
  --bgcolor: #dbcca9; */
:root {
  --color1: #d4d0e4;
  --color2: #b3a6e7;
  --color3: #7273b9;
  --color4: #362636;
  --color5: #47285c;
  --color1a: #d4d0e4cc;
  --bgcolor: #45408a;
}
.header {
  z-index: 1;
  display: block;
  position: sticky;
  min-block-size: 10ch;
  border-bottom: 1rem double var(--color1);
  background-color: var(--color3);
}
body {
  background-color: var(--bgcolor);
  color: var(--color4);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
  width: 75%;
  margin-left: 20%;
}

ul li {
  position: relative;
  display: inline-block;
  width: 25%;
  min-width: 200px;
}

@media (orientation: landscape) {
  .filtersContainer {
    /* float: left; */
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: fit-content;
    height: 100%;
    padding: 1%;
    padding-top: 10ch;
    background-color: var(--color3);
    color: var(--color5);
  }

  ul li {
    position: relative;
    display: inline-block;
    width: 30%;
    min-width: 300px;
  }

  .filterContainer {
    padding-top: 40px;
  }
}

@media (orientation: portrait) {
  .filtersContainer {
    display: none;
  }

  ul li {
    position: relative;
    display: inline-block;
    width: 50%;
    min-width: 100px;
  }
}

.pieceContainer {
  margin-left: 20%;
}

.pieceDetailImage {
  max-width: 60vw;
  max-height: 80vh;
  border: #d4d0e4;
  border-width: 5px;
}

.pieceDetailInfo {
  color: var(--color5);
  width: max-content;
  padding-right: 15%;
}

.pieceDetailInfo li {
  padding: 15%;
  list-style: none;
  text-size-adjust: 30;
}
.pieceDetail {
  position: fixed;
  display: inline-flex;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-around;
  width: 100vw;
  height: 85vh;
  background-color: var(--color1a);
  padding: 2%;
}

.feedContainer {
  position: inline-block;
}
.imageGridItem {
  background-color: var(--color2);
  display: block;
  box-sizing: border-box;
  padding: 5%;
  margin: 5%;
  overflow: hidden;
  position: auto;
  transition: all 0.5s linear;
  transition-delay: 0.1s;
  text-align: center;
}

.imageWrapper {
  display: block;
  width: auto;
  height: auto;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.5s linear;

  cursor: pointer;
  background-color: var(--color5);
}
li:hover .overlay {
  display: block;
  opacity: 0.9;
}

.overlay {
  display: block;
  background-color: var(--color5);
  color: var(--color1);
  position: absolute;
  width: 90%;
  height: 90%;
  opacity: 0;
  top: 5%;
  left: 5%;
  padding-top: 25%;
  transition: 0.5s ease;
  cursor: pointer;
  text-align: center center;
}

.overlay h4 {
  font-weight: 300;
}

.switch {
  padding: 3%;
}
