@media (orientation: landscape) {
    .pieceDetail{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    ul li {
      position: relative;
      display: inline-block;
      width: 30%;
      min-width: 300px;
    }
  
    .pieceInfoContainer {
    display:grid;
    grid-template-rows: 1fr 5fr;
    }
    .closeButton{
      font-size: xx-large !important;
      padding-left: 1% !important;
      padding-right: 1% !important;
    }
    .infoButton{
      font-weight: 800;
      font-size: large !important;
      margin: 5%;
    }
    .pieceDetailInfo {
      color: var(--color5);
      background-color: var(--color1a);;
      padding: 5%;
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .pieceImagecontainer {
      display: grid;
      position: relative;
      float: left;
    }
}

@media (orientation: portrait) {

    ul li {
      position: relative;
      display: inline-block;
      width: 50%;
      min-width: 100px;
    }
  
    .pieceDetail{
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
  }